pyyaml
tqdm
attrdict
h5py
numpy
scipy
matplotlib
seaborn
brewer2mpl
torch
torchvision
tensorboard
tensorboardX
opencv-python==4.1.2.30
opencv-contrib-python==4.1.2.30
scikit-learn
scikit-image
kornia==0.3.0
shapely
jupyter
